openpyxl>=3.1.5
pysr>=1.5.9
seaborn>=0.13.2
matplotlib>=3.10.6
pandas>=2.3.2
bottleneck>=1.5.0
scikit-learn>=1.6.1
shap>=0.48.0
catboost>=1.2.8
xgboost>=3.0.5
lightgbm>=4.6.0
torchmetrics>=1.8.2

tabpfn>=2.2.0

